In [11]:
import pandas as pd

tem = pd.read_csv('./data/기온.csv', encoding='euc-kr')
tem = tem.drop(['월합강수량(00~24h만)(mm)', '일최다강수량(mm)', '평균풍속(m/s)', '최대풍속(m/s)'], axis = 1)
tem.columns = ['날짜', '평균기온', '평균최고기온', '평균최저기온']
tem['날짜'] = pd.to_datetime(tem['날짜'], format='%Y-%m')
tem['날짜'] = tem['날짜'].dt.strftime('%Y%m')
tem['일교차'] = tem['평균최고기온'] - tem['평균최저기온']
tem['기온등락률'] = tem['평균기온'].pct_change()
tem['일교차등락률'] = tem['일교차'].pct_change()
tem = tem.dropna()
tem

         날짜  평균기온  평균최고기온  평균최저기온   일교차     기온등락률    일교차등락률
1    201001  -4.5    -0.7    -8.1   7.4  3.500000  0.104478
2    201002   1.4     4.9    -1.7   6.6 -1.311111 -0.108108
3    201003   4.3     8.1     0.5   7.6  2.071429  0.151515
4    201004   9.5    14.0     5.6   8.4  1.209302  0.105263
5    201005  17.2    22.0    13.0   9.0  0.810526  0.071429
..      ...   ...     ...     ...   ...       ...       ...
144  202112   0.6     5.1    -3.5   8.6 -0.926829 -0.054945
145  202201  -2.2     2.6    -6.2   8.8 -4.666667  0.023256
146  202202  -1.1     3.8    -5.3   9.1 -0.500000  0.034091
147  202203   7.7    12.7     3.2   9.5 -8.000000  0.043956
148  202204  14.8    20.6    10.0  10.6  0.922078  0.115789

[148 rows x 7 columns]

In [12]:
tem['날짜'] = tem['날짜'].astype(str)
tem['월'] = tem['날짜'].str[-2:]
tem['월'] = tem['월'].astype(int)
tem.to_csv('./data/tem_df.csv', index= 0)

In [16]:
tem_m = tem.groupby('월').mean()
tem_m

         평균기온     평균최고기온     평균최저기온        일교차     기온등락률    일교차등락률
월
1   -2.492308   1.807692  -6.223077   8.030769  0.797741  0.027525
2    0.446154   5.176923  -3.576923   8.753846 -1.227765  0.093012
3    6.553846  11.838462   2.138462   9.700000  0.129243  0.112483
4   12.538462  18.000000   7.923077  10.076923  0.992965  0.046267
5   18.550000  24.091667  13.766667  10.325000  0.524850  0.030133
6   23.316667  28.433333  19.233333   9.200000  0.259459 -0.103001
7   26.016667  29.816667  23.050000   6.766667  0.116911 -0.261217
8   26.741667  30.625000  23.650000   6.975000  0.029417  0.041015
9   22.016667  26.625000  18.108333   8.516667 -0.175497  0.236668
10  15.233333  20.591667  10.683333   9.908333 -0.308316  0.171367
11   7.566667  12.216667   3.600000   8.616667 -0.498955 -0.127165
12  -0.616667   3.575000  -4.358333   7.933333 -1.102011 -0.073163